BasedOnStyle: LLVM
IndentWidth: 2 
UseTab: Never
ColumnLimit: 80 
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: InlineOnly
# TemplateArgumentsPrecedence: Before 
# BraceWrapping:
#   AfterFunction: true
#   AfterControlStatement: true
#   BeforeElse: true
#   BeforeWhile: true
